@import url("base.css");

.cycle-slideshow {
  overflow: none;
}

.cycle-slide {
  position: fixed;
  margin-top: 50px;
  /*top: 50px;*/
}

.small-width {
  margin-left: 100px;
}

.cycle-slide-active {
  position: fixed;
  margin-top: 50px;
}

.cycle-pager {
  text-align: center;
  font-size: 50px;
  color: #a8a8a8;
  margin-top: 50px;
}

.cycle-pager-active {
  color: #D8BFD8;
}

.description-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-left: 235px;
  padding-bottom: 20px;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  max-width: 350px;
  margin-left: 235px;
}
